* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
}
/* WHATSAPP BUTTON */
#whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    transition: bottom 0.5s ease;
    text-decoration: none;
}
#whatsapp-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#whatsapp-icon{
    width: 50px;
    height: 50px;
    transition: all 0.3s ease;
    animation: pulse 1.5s infinite;
}
#whatsapp-button:hover #whatsapp-icon {
    transform: scale(1.2);
}
#whatsapp-text {
    font-size: 10px;
    color: #2b7b8c;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
/* HEADER */
header {
    position: fixed;
    background-image: url("/dev/img/background.png");
    background-size: 100% auto;
    background-position: 0 -20px;
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline-start: 5vw;
    padding-inline-end: 10vw;
    z-index: 1020;
    transition: height .2s ease, background-color .2s ease, background-position .2s ease, box-shadow .2s ease;
}
header a {
    width: auto;
    height: 100%;
    text-decoration: none;
}
header a img {
    width: auto;
    height: 100%;
}
header nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
}
header nav ul li a {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.4em;
    text-decoration: none;
    text-shadow: 2px 2px 4px #000000;
}
header nav ul li a:hover {
    color: #F27506;
}
header.shrunk {
    height: 10%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    background-position: 0 -45px;
}
/* MAIN INDEX */
#catalogo {
    width: 100%;
    padding-block: 20vh;
    padding-inline: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
#catalogo h1 {
    font-size: 3em;
    font-weight: 800;
    color: rgba(62,72,152,1);
}
#catalogo img {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
/* Estilos del fondo en pantalla completa */
.fullscreen-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1030;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}
/* Imagen en pantalla completa */
.fullscreen-container img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 5px;
}
/* Botón de cerrar */
.close-btn {
    position: absolute;
    top: 15px;
    right: 50px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    background: none;
    border: none;
}
.grupo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.grupo.a {
    gap: 50px;
}
.grupo.b div {
    object-fit: cover;
    height: 50vh;
    width: auto;
}
.grupo.b div img {
    display: flex !important;
    width: auto !important;
    height: 100% !important;
}
/* MAIN CÓMO-LLEGAR */
#mapa {
    text-align: center;
    width: 100%;
    padding-block: 25vh;
}
#mapa h1 {
    font-size: 3em;
    font-weight: 800;
    color: rgba(62,72,152,1);
    margin-bottom: 50px;
}
#mapa p {
    font-size: 2em;
    margin-bottom: 50px;
}
/* CARTA */
#carta {
    text-align: center;
    width: 100%;
    padding-block: 25vh;
    padding-inline: 10vw;
}
#carta h1 {
    font-size: 3em;
    font-weight: 800;
    color: rgba(62,72,152,1);
    margin-bottom: 50px;
}
#carta p {
    font-size: 2em;
    margin-bottom: 50px;
}
#carta img {
    width: 100%;
    height: auto;
}
#carta img:nth-of-type(1) {
    margin-bottom: 50px;
}
/* ANIMACIONES */
.initial-fade-in {
    opacity: 0; /* El contenido está invisible al principio */
    transform: translateY(20px); /* Hace que el contenido empiece desplazado un poco hacia abajo */
    transition: opacity 1s ease-out, transform 1s ease-out; /* Suaviza la transición de la opacidad y el desplazamiento */
}
.initial-fade-in.visible {
    opacity: 1; /* El contenido se hace visible */
    transform: translateY(0); /* El contenido se mueve a su posición original */
}
.fade-in {
    transform: translateY(20px);
    opacity: 0; /* El contenido está invisible al principio */
    transition: opacity .4s ease-out, transform .4s ease-out;;
}
.fade-in.visible {
    opacity: 1; /* El contenido se hace visible */
    transform: translateY(0); /* El contenido se mueve a su posición original */
    transform: translateX(0);
}